<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">

    <title>BabyFashion</title>
</head>
<body>
    <header>
        <nav class="main-menu">
            <h1>Baby Fashion</h1>
            <ul class="main-menu_inner-left">
                <li class="icon_menu"></li>
                <li class="icon_search"></li>
            </ul>
            <ul class="main-menu_inner-right">
                <li class="icon_user"></li>
                <li class="login-interface">
                    <ul class="login-interface_inner">
                        <li>Ingresar</li>
                        <li>Registrarse</li>
                    </ul>
                </li>
                <li class="icon_shoping-bag"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <section class="carousel-inner">
                <img src="" alt="">
            </section>
            <section class="trend-inner">
                <article></article>
            </section>
            <section class="suggested-inner">
                <article></article>
            </section>
        </section>
    </main>
    <footer>
        <section class="social-icons">
            <ul>
                <li><a class="social-icons_1" href="#"></a></li>
                <li><a class="social-icons_2" href="#"></a></li>
                <li><a class="social-icons_3" href="#"></a></li>                
            </ul>
        </section>
        <section class="footer-inner">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>  
            </ul>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>  
            </ul>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>  
            </ul>
        </section>
    </footer>
</body>

</html> 