<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>BabyFashion</title>
</head>

<body>
    <header>
        <div class="main-menu_tittle-inner">
            <h1>Baby Fashion</h1>
        </div>
        <nav class="main-menu">            
            <ul class="main-menu_inner-left">
                <li class="icon icon_menu"></li>
                <li class="icon icon_search"></li>
            </ul>
            <ul class="main-menu_inner-right">                
                <li class="icon icon_user">
                    <div class="login-interface">
                        <ul class="login-interface_inner">
                            <li><a href="/login" id="button-login">Ingresar</a></li>
                            <li><a href="/register" id="button-register">Registrarse</a></li>
                        </ul>
                    </div>
                </li>                
                <li class="icon icon_shoping-bag"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <section class="carousel-inner">
                <img src="/static/img/disable-xxl.jpg" alt="cover-page">
            </section>
            <section class="trend-inner">
                <article></article>
            </section>
            <section class="suggested-inner">
                <article></article>
            </section>
        </section>
    </main>
    <footer>
        <section class="social-icons">
            <ul>
                <li><a class="social-icons_1" href="#"></a></li>
                <li><a class="social-icons_2" href="#"></a></li>
                <li><a class="social-icons_3" href="#"></a></li>
            </ul>
        </section>
        <section class="footer-inner">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </section>
    </footer>



</body>

</html>