<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_login.css">
    <!--Atender el tipo de fuente formato ttf-->
    <link rel="stylesheet" href="/static/fonts/theboldfont/fonts.css" type="text/css" charset="utf-8" />
    <title>Document</title>
</head>

<body>
    <main>
        <div class="bloque-popup">
            <div class="bloque-up">
                <p class="title">
                    Inicia Sesión
                </p>
                <p>
                    o <a href="http://">Registrate</a>
                </p>

                <form action="" method="post">
                    <input type="email" name="e-mail" id="" placeholder="Correo electronico">
                    <input type="checkbox" name="sesion-open" id=""><label for="sesion-open">Mantener sesión
                        abierta</label>
                </form>
                <p>¿Utilizas un dispositivo público o compartido? <br> Desmarque para proteger su cuenta.</p>
            </div>
            <div class="bloque-down">
                <a href="http://"><button>Iniciar sesión con Google</button></a>
                <a href="http://"><button>Iniciar sesión con Facebook</button></a>
            </div>
        </div>
    </main>
</body>

</html>