<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/productCart.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Carrito</title>
</head>

<body>

    <header>
        <div class="main-menu_tittle-inner">
        </div>
        <nav class="main-menu">
            <ul class="main-menu_inner-left">
                <li class="icon icon_menu"></li>
                <li class="icon icon_search"></li>
            </ul>
            <ul class="main-menu_inner-right">
                <li class="icon icon_user">
                    <div class="login-interface">
                        <ul class="login-interface_inner">
                            <li><a href="/login" id="button-login">Ingresar</a></li>
                            <li><a href="/register" id="button-register">Registrarse</a></li>
                        </ul>
                    </div>
                </li>
                <li class="icon icon_shoping-bag"><a class="icon icon_shoping-bag" href="/bag-shop"></a></li>
            </ul>
        </nav>
    </header>


    <div class="popup" id="popup">
        <div class="popup-content">
            <h2>Carrito de compras</h2>
            <hr>
            <div class="product-article">
                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                <div class="products">
                    <p class="name-product">
                        Nombre del Producto
                    </p>
                    <p class="count-and-price">
                        1 x $9999999999
                    </p>
                </div>
            </div>
            <hr>
            <div class="product-article">
                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                <div class="products">
                    <p class="name-product">
                        Nombre del Producto
                    </p>
                    <p class="count-and-price">
                        1 x $9999999999
                    </p>
                </div>
            </div>
            <hr>
            <div class="total">
                <p>Total:</p>
                <p>$9999999999999</p>
            </div>
            <hr>
            <a href="/"><button class="button-pay">Ir a pagar</button></a>
        </div>
    </div>
</body>

</html>