<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/shop.css">
    
    <title>BabyFashion</title>
</head>

<body>
    <header>
        <div class="main-menu_tittle-inner">
            <h1>Baby Fashion</h1>
        </div>
        <nav class="main-menu">            
            <ul class="main-menu_inner-left">
                <li class="icon icon_menu"></li>
                <li class="icon icon_search"></li>
            </ul>
            <ul class="main-menu_inner-right">                
                <li class="icon icon_user">
                    <div class="login-interface">
                        <ul class="login-interface_inner">
                            <li><a href="/login" id="button-login">Ingresar</a></li>
                            <li><a href="/register" id="button-register">Registrarse</a></li>
                        </ul>
                    </div>
                </li>                
                <li class="icon icon_shoping-bag"></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="category">
            <section class="category_inner">
                <div class="category_inner_panel">
                    <h2>Categoría elegida</h2>
                </div>
                <div class="category_inner_category">
                    <article>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                    </article>
            </section>                
        </section>
    </main>

    <footer>
        <section class="social-icons">
            <ul>
                <li><a class="social-icons_1" href="#"></a></li>
                <li><a class="social-icons_2" href="#"></a></li>
                <li><a class="social-icons_3" href="#"></a></li>
            </ul>
        </section>
        <section class="footer-inner">
            <ul class="footer-inner_section">
                <li class="footer-inner_section_sub-title"><a href="#">Menú</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Carrito de compras</a></li>
            </ul>
            <ul class="footer-inner_section">
                <li class="footer-inner_section_sub-title"><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Cónocenos</a></li>
                <li><a href="#">Cobertura de países</a></li>
            </ul>
            <ul class="footer-inner_section">
                <li class="footer-inner_section_sub-title"><a href="#">Soporte técnico</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Quejas/solicitudes</a></li>
            </ul>
        </section>
    </footer>
</body>
</html>