/*-----------*/
/*Home-styles*/
/*-----------*/
@import url(/static/css/root.css);

/*------*/
/*Header*/
/*------*/
.main-menu {
    background-color: var(--c-primary);
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.main-menu_tittle-inner {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.main-menu_inner-left,
.main-menu_inner-right {
    flex: 1 1 50%;
    display: flex;
}

.main-menu_inner-right {
    justify-content: flex-end;
}
li.icon {
    padding: 0 10px;
    position: relative;
    width: 35px;
}
li.icon:hover {
    background-color: var(--c-color6);
}
.icon:before {
    display: block;
    content: ' ';
    height: var(--f-iconsize);
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-13%, -55%);
    transform: translate(-13%, -55%);
}
li.icon_user {
    position: relative;
}
.login-interface {
    position: absolute;
    right: 0;
    top: 35px;
}

.login-interface_inner {
    align-content: space-between;
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 5px 10px 6px;
    height: 60px;
    width: 95px;
}

/*----*/
/*body*/
/*----*/
.carousel-inner img {
    width: 100%;
}
