/*General styles*/
@import url(/static/fonts/fonts.css);

:root {    
  /*------*/
  /*Colors*/
  /*------*/
  --c-primary:              #36767a;
  --c-primary-var1:         #07565b;
  --c-primary-var2:         #65a4ab;
  --c-secondary:            #003a45;
  --c-tertiary:             #ed3c10;
  --c-color1:               #c2dde4;
  --c-color3:               #888;
  --c-color4:               #666;
  --c-color5:               #444;
  --c-color6:               rgba(0, 0, 0, 0.15);
  --c-color7:               transparent;
  --c-color8:               #000;
  --c-color9:               #fff;

  /*alerts*/
  --c-info:                 var(--c-primary);
  --c-warning:              #f9a91f;   /*yellow*/
  --c-error:                #C00009;   /*red*/
  --c-success:              #86bc32;   /*green*/


  /*----------*/
  /*typographi*/
  /*----------*/
  --f-primary:              Theboldfont, sans-serif;
  --f-secondary-regualr:    SegoeUI-regular, sans-serif;
  --f-secondary-semiBold:   SegoeUI-semibold, sans-serif;
  --f-secondary-bold:       SegoeUI-bold, sans-serif;
  --f-secondary-italic:     SegoeUI-italic, sans-serif;
  --c-text:                 var(--c-secondary);


  /*---------*/
  /*Font-size*/
  /*---------*/
  --f-size-xxs:             10px;
  --f-size-xs:              12px;
  --f-size-sm:              14px;
  --f-size:                 16px;
  --f-size-md-xxl:          18px;
  --f-size-md-xl:           20px;
  --f-size-md:              24px;
  --f-size-lg:              28px;
  --f-size-xlg:             34px;
  --f-size-xlgx:            40px;
  --f-size-xxlg:            48px;
  --f-size-super:           60px;
  --f-size-ultra:           74px;

  /*icon-size*/
  --f-iconsize-sm:          10px;
  --f-iconsize:             20px;
  --f-iconsize-md:          36px;
  --f-iconsize-lg:          48px;
  --f-iconsize-xlg:         60px;
  --f-iconsize-super:       70px;

}


* {
  box-sizing: border-box;
}
html {
  background-color: var(--c-color1);
  color: var(--c-text);
  font-size: var(--f-size);
}
body {  
  color: var(--c-text);
  font-family: var(--f-secondary-regualr);
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main {
    padding: 80px 20px;
}
h1 {
  font-family: var(--f-primary);
}
h2{
  font-family:var(--f-secondary-Bold);
}
ul, li, a{
  color: var(--c-text);
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}



/*-----*/
/*icons*/
/*-----*/
.icon_menu:before {
  background-image: url(/static/img/svg/menu.svg);
  background-repeat: no-repeat;
}
.icon_search:before  {
  background-image: url(/static/img/svg/search.svg);
  background-repeat: no-repeat;
}
.icon_user:before  {
  background-image: url(/static/img/svg/user.svg);
  background-repeat: no-repeat;
}
.icon_shoping-bag:before  {
  background-image: url(/static/img/svg/shoping-bag.svg);
  background-repeat: no-repeat;
}
/*.social-icons_1*/